<app-header></app-header>



<div class="vh-100 bg-image" style="background-image: url('assets/fond-resa.jpg'); height: 100%">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container mb-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Réservation</h2>
                            <form [formGroup]="resaForm" (ngSubmit)="postdata(resaForm)" autocomplete="off" >
                                <div class="form-group">
                                    <label for="name">Nom</label>
                                    <input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Nom ou Prénom" required>
                 
                                </div>
                 
                                <div class="form-group form-outline mb-4">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Adresse email" required>
                                </div>

                                <div class="form-group form-outline mb-4">
                                    <label for="covered">Nombres de couverts</label>
                                    <input type="number" name="covered" formControlName="covered" autocomplete="off" class="form-control input-sm" placeholder="" required>
                                </div>

                                <div class="form-group form-outline mb-4">
                                    <label for="date">Date</label>
                                    <input type="date" name="date" formControlName="date" autocomplete="off" class="form-control input-sm" placeholder="jour/mois/année" required>
                                </div>
                                
                                <div class="form-group form-outline mb-4">
                                    <label for="name">Infos</label>
                                    <input type="text" name="infos" formControlName="infos" autocomplete="off" class="form-control input-sm" placeholder="ex: allergies...">
                                </div>
                                <div class="d-flex justify-content-center">
                                    
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" 
                                        class=" ab btn text-white btn-block btn-lg gradient-custom-4" 
                                        [disabled]="!resaForm.valid">Réserver
                                    </button>
                                </div>
                                <div *ngIf="message"
                                      class="container d-flex justify-content-between alert alert-success mt-5 text.text-center" 
                                      role="alert">
                                      Réservation confirmée!
                                    <button (click)="removeMessage()" class="btn btn-dark btn-sm text-white">retour</button>
                                </div> 
                            </form>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>





















<!--MODAL


<div class="d-flex align-items-center justify-content-center" >
    <a (click)="open(content)">
        <button type="button" class=" resa btn btn-lg text-white">Réserver !</button>
    </a>
</div>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title " id="modal-basic-title">Réservation</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
<div class="modal-body">
    <form [formGroup]="resaForm" (ngSubmit)="postdata(resaForm)">
        <div class="container">
            <div class="form-row">
                <div class="form-group col-md-6">
                        <label for="name">Nom</label>
                        <input type="name" name="name" class="form-control" id="inputName" placeholder="Votre nom">
                </div>
                <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Adresse Email">
                </div>
                <div class="form-group col-md-6">
                        <label for="covered">Nombre de couverts</label>
                        <input type="number" name="covered" class="form-control" id="inputNumber" placeholder="Ex : 2 couverts...">
                </div>
            </div>
                <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" name="date" class="form-control" id="inputTime" placeholder="...">
                </div>
                <div class="form-group col-md-6">
                        <label for="infos">Infos notables...</label>
                        <input type="text" name="infos" class="form-control" id="inputText" placeholder="Ex : Allergies, régimes...">
                </div>
        </div>  
    </form>
    
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('Save click')" >Réserver</button>
        </div>
        <div class="alert alert-success" *ngIf="success">{{ success }}</div>
</div>
</ng-template>
















<div class="form-group col-md-6">
    [disabled]="!resaForm.valid"
    <label for="inputname">Prénom</label>
    <input type="surname" class="form-control" id="inputSurname" placeholder="Votre prénom">
</div>-->