<p>plat works!</p>
<div class="d-flex align-items-center justify-content-center" >
    <h2>Le Goût qui compte</h2>
</div>
<div class="text-center">Avec les yeux ont vous le dit</div> 


<div class="container-xl">
<div class="row">
    <div *ngFor="let plat of platList" class="col-lg-4 mb-4 mb-lg-0 example">
        <img img [src] = " plat.picture " alt="fond"
             class="w-100 shadow-1-strong rounded mb-4"
             width="400" height="300" alt="Mountains in the Clouds"
        />
        <div class="card-body">
            <h5 class="card-title text">{{ plat.name }} </h5>
        </div>
    </div>
</div>    
</div>