<app-header></app-header>

<div class="text-center bg-img"
     style="background-image: url('assets/fond 6.jpg'); height: 400px;">
      <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.6) ;">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Nos plus belles recettes !</h1>
            <h4 class="mb-3">Un goût Antique</h4>
          </div>
        </div>
      </div>
</div>

<section>
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Découverte des saveurs</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-3">
                <img src="assets/entree (1).jpeg" class=" w-100 shadow-1-strong rounded mb-4">
                <h3 class=" text-center"><a href="/entrees">Entrée</a></h3>
            </div>

            <div class="col-lg-3">
                <img src="assets/plat (1).jpeg" class="w-100 shadow-1-strong rounded mb-4">
                <h3 class="text-center"><a href="/plats">Plat</a></h3>
            </div>

            <div class="col-lg-3">
                <img src="assets/dessert (1).jpeg" class="w-100 shadow-1-strong rounded mb-4">
                <h3 class="text-center"><a href="desserts">Déssert</a></h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-xl ">
        <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
        <h4 class="card-title">Nos horaires</h4>
        <h5 class="card-subtitle mb-2 text-muted">Lundi au dimanche (sauf jours fériés)</h5>
        <h6 class="card-titile">Midis :</h6>
            <p class="card-text"> 12h à 15h</p>
            <h6 class="card-titile">Soirs :</h6>
            <p class="card-text"> 19h à 22h30</p>
            <h6 class="card-titile">Week-end :</h6>
            <p class="card-text"> 12h à 23h</p>
            <p class="card-text"></p>
            <h4 class="card-title">Pour tout informations supplémentaires</h4>
            <h6 class="card-title">01 64 00 00 00</h6>    
        </div>
    </div>
    </div>
</div>
</div>
</section>


<app-footer></app-footer>



<!--<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/header-fond.jpeg" class="img-fluid width: 100%" >
                    <div class="carousel-caption">
                        <h1 class="">Nos plats</h1>   
                    </div>
            </div>
        </div>
    </div>
</section>-->

<!--<div class="carousel-caption">

    <div class="card bg-dark text-white">
        <img class="card-img" src="..." alt="Card image">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>-->


       
<!--<div class="container-fluid">
    <div class="row text-white">
        <img class="card-img" src="assets/header-fond.jpeg" alt="Card image">
        <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
    </div>
</div>-->