<app-header></app-header>

<form >
    <div class="container-xl d-flex justify-content-center">
        <div class="row">
            <div *ngFor="let horaire of horaires" class="col-md-6" style="padding: 10%;">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <h4 class="card-title"> {{ horaire.title}} </h4>
                            <h5 class="card-subtitle mb-2 text-muted">{{ horaire.subtitle}}</h5>
                                <h6 class="card-titile">{{ horaire.day}}</h6>
                                    <p class="card-text">{{ horaire.hours_day}}</p>
                                        <h6 class="card-titile">{{ horaire.night}}</h6>
                                            <p class="card-text">{{ horaire.hours_night}}</p>
                                        <h6 class="card-titile">{{ horaire.week_end}}</h6>
                                    <p class="card-text">{{ horaire.hours_week}}</p>
                                <p class="card-text"></p>
                            <h4 class="card-title">{{ horaire.infos}}</h4>
                        <h6 class="card-title">{{ horaire.telephone}}</h6>    
                    </div>
                </div>
            </div>
        </div>    
    </div>
</form>




<app-footer></app-footer>
