
<div class="d-flex align-items-center justify-content-center">
    <div class="row col-4">
        <form *ngIf = "plat" 
              (ngSubmit)="onSubmit()"  
               #platForm = "ngForm"
               class="  align-item-center justify-content-center">

            <div class="form-group">
                <label for="picture">Image</label>
                <input [type]="'file'" class="form-control" id="picture"
                    (change)="showPreview($event)"
                    required
                    name="picture"
                    [(ngModel)]="plat.picture" name="picture"
                    #picture="ngModel"
                    >
            </div>
                <div [hidden]="picture.valid || picture.pristine"
                        class="card-panel red accent-1">
                        L'image du plat est requis. 
                </div>

            <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name"
                            required
                            pattern="^[a-zA-Z0-9àéèç]{1,25}$"
                            [(ngModel)]="plat.name" name="name"
                        #name="ngModel"
                    >
                <div [hidden]="name.valid || name.pristine"
                    class="card-panel red accent-1">
                    Le nom du plat est requis (1-25).
                </div>
            </div>

            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category"
                        required
                        pattern="^[a-zA-Z0-9àéèç]{1,25}$"
                        [(ngModel)]="plat.category" name="category"
                    #category="ngModel"
                >
                <div [hidden]="category.valid || category.pristine"
                    class="card-panel red accent-1">
                    Le nom du plat est requis (1-25).
                 </div>
            </div>
       
            <div class="text-center button">
                <button type="submit"
                        class="btn btn-success"
                        [disabled]="!platForm.form.valid"
                        >Valider
                </button>
            </div>    
        </form>
            <h3 *ngIf="!plat"><app-loader></app-loader></h3>
    </div>    
</div>
  
  
<!--<h3 *ngIf="!plat" class="center"></h3>
[(ngModel)]="plat.name" name="name"-->

