
<div class="d-flex align-items-center justify-content-center">
    <div class="row col-4">
        <form *ngIf = "platGalery" 
              (ngSubmit)="onSubmit()"  
               #platGaleryForm = "ngForm"
               class="  align-item-center justify-content-center">

            <div class="form-group">
                <label for="picture">Image</label>
                <input [type]="'file'" class="form-control" id="picture"
                    (change)="showPreview($event)"
                    required
                    name="picture"
                    [(ngModel)]="platGalery.picture" name="picture"
                    #picture="ngModel"
                    >
            </div>
                <div [hidden]="picture.valid || picture.pristine"
                        class="card-panel red accent-1">
                        L'image du plat est requis. 
                </div>

            <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name"
                            required
                            pattern="^[a-zA-Z0-9|\sàéèç]{1,30}$"
                            [(ngModel)]="platGalery.name" name="name"
                        #name="ngModel"
                    >
                <div [hidden]="name.valid || name.pristine"
                    class="warning">
                    Le nom du plat est requis (1-30).
                </div>
            </div>

            <div class="text-center button">
                <button type="submit"
                        class="btn btn-success"
                        [disabled]="!platGaleryForm.form.valid"
                        >Valider
                </button>
            </div>    
        </form>
            <h3 *ngIf="!platGalery"><app-loader></app-loader></h3>
    </div>    
</div>
  

