<app-header></app-header>


<div class="bg-image" 
     style="background-image: url('assets/fond-contact.jpg');
            height: 600px">
  <div class="mask h-100" 
       style="background-color: rgba(0, 0, 0, 0.6) ;">
  </div>
</div>

<form action="https://formsubmit.co/03c9801f85447e5028c24b189b560f03" method="POST" [formGroup]="contactForm" (ngSubmit)="postdata(contactForm)">
    <input type="hidden" name="_captcha" value="false">
    <input type="text" name="_honey" style="display:none">
  <div class="container-xl bg-white mt-5 rounded d-flex justify-content-center">
    <div class="row col-md-6">
      <h1 class="text-center mt-2">Contact</h1>
        <div class="form-group">
          <label for="inputname">Nom</label>
          <input type="text" name="name" class="form-control" id="inputName" placeholder="Alexandre">
        </div>

        <div class="form-group">
          <label for="inputname">Email</label>
          <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>

        <div class="form-group ">
          <label class="form-label" for="typePhone">Télephone</label>
          <input type="tel" name="tel" id="typePhone" class="form-control" />
        </div>

        <div class="form-group">
          <label for="textArea">Message</label>
          <textarea name="textarea" class="form-control" id="Textarea" rows="3"></textarea>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-lg text-center text-white mt-4" >Envoyer</button>
        </div>
          <div *ngIf="message"
            class="container d-flex justify-content-between alert alert-success mt-5 text.text-center" 
            role="alert">
                Message envoyé!
            <button (click)="removeMessage()" class="btn btn-dark btn-sm text-white">x</button>
          </div> 
    </div>  
  </div>        
</form>


<app-footer><app-footer></app-footer>


