<app-header></app-header>



<div class="container-xl" style="margin-top: 50px;">
  <div class="d-flex justify-content-center"><h1>Menus</h1></div> 
    <div class="row">
      <div class="d-flex justify-content-around">
        <div *ngFor="let menu of menuList" class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> {{ menu.title }} </h5>
            <p class="card-text"> {{ menu.formule }} </p>
            <p class="card-text"> {{ menu.description }} </p>
          </div>
         </div> 
      </div>
    </div>  
</div>

<app-footer></app-footer>






<!--<p *ngFor="let menu of menuList">{{ menu.name }}</p>
<a (click)="goToHome()" class="btn btn-primary">Go somewhere</a>-->