<app-header></app-header>

<div class="vh-100 bg-image"
         style="background-image: url('assets/fond-inscription.jpg');
            height: 100%">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Créer un compte</h2>

              <form #inscriptionForm = "ngForm">

                <div class="form-outline mb-4">
                  <input type="text" 
                         id="name" 
                         class="form-control form-control-lg" 
                         pattern="^[a-zA-Z0-9àéèç]{1,25}$"
                         required/>
                  <label class="form-label" for="name">Votre nom</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" 
                         id="email" 
                         class="form-control form-control-lg"
                         pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/" />
                  <label class="form-label" for="email">Votre adresse mail</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" 
                         id="password" 
                         class="form-control form-control-lg"
                         required />
                  <label class="form-label" for="password">Mot de passe</label>
                </div>
  
                <div class="form-outline mb-4">
                  <input type="password" 
                         id="password" 
                         class="form-control form-control-lg" 
                         required
                         />
                  <label class="form-label" for="password">Répéter votre mot de passe</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" 
                         type="checkbox" 
                         value="" 
                         id="checkbox" />
                  <label class="form-check-label" for="checkbox">
                    J'accepte les conditions <a href="#!" class="text-body"><u>Conditions d'utilisation!</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                 <a routerLink="/home" ><button type="button"
                    class="btn text-white btn-block btn-lg gradient-custom-4"
                    [disabled]="!inscriptionForm.form.valid"
                    >Enregistrer</button>
                </a>
                </div>

                <p class="text-center text-muted mt-5 mb-0">J'ai déja un compte?
                   <a (click)="onSubmitInscription()" class="fw-bold text-body">
                    <u>Se connecter</u>
                  </a>
                </p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


