<app-header></app-header>


<div class="container mt-5">
  <h3>Personnaliser votre galerie !</h3>
    <p>Modifier/supprimer le titre et/ou la photo associé au plat.</p>
      <div *ngIf="platGalery" class="card" style="max-width: 1000px;">
        <div class="row">
          <div class="col-md-8">
                <img [src]="platGalery.picture" class="img-fluid">
          </div>
              <div class="col-md-4">
                  <h2 class="card-text">{{ platGalery.name }}</h2>
                     <div class=" d-flex justify-content-around">
                       <a *ngIf="this.currentUser.role === 'admin'" (click)="goToEditPlat(platGalery)" class="btn btn-dark btn-lg button">Modifier</a>
                         <a *ngIf="this.currentUser.role === 'admin'" (click)="deletePlat(platGalery)" class="btn btn-danger btn-lg button">Supprimer</a>
                      </div>
              </div>
        </div>
      </div>
          <div class="text-left buttonR"><a (click)="goToHome()"  class="btn btn-lg text-white ret">Retour</a></div>
</div>


<div style="height: 150px;"></div>


  <div *ngIf="!platGalery" class="d-flex justify-content-center" >
    <app-loader></app-loader>
  </div>

<app-footer></app-footer>


<!--<h5 class="card-text text-secondary">Catégorie : {{ platGalery.category }}</h5>-->

