<app-header></app-header>


<div class="container mt-5">
  <h3>Personnaliser vos plats !</h3>
    <p>Modifier/supprimer le titre et/ou la photo associé au plat.</p>
      <div *ngIf="plat" class="card" style="max-width: 1000px;">
        <div class="row">
          <div class="col-md-6">
                <img [src]="plat.picture" class="img-fluid">
          </div>
              <div class="col-md-6">
                  <h4 class="card-text">{{ plat.name }}</h4>
                    <h5 class="card-text text-secondary">Catégorie : {{ plat.category }}</h5>
                     <div class=" col-8 d-flex justify-content-between">
                       <a  (click)="goToEditPlat(plat)" class="btn btn-dark btn-lg button">Modifier</a>
                         <a  (click)="deletePlat(plat)" class="btn btn-danger btn-lg button">Supprimer</a>
                      </div>
              </div>
        </div>
      </div>
          <div class="text-left buttonR"><a (click)="goToHome()"  class="btn btn-lg text-white ret">Retour</a></div>
</div>


<div style="height: 150px;"></div>


  <div *ngIf="!plat" class="d-flex justify-content-center" >
    <app-loader></app-loader>
  </div>

<app-footer></app-footer>

