<app-header></app-header>



<div class="container-xl" style="margin-top: 30px;">
    <div class="d-flex justify-content-center m-4"><h1>Nos Menus</h1></div> 
      <div class="row">
        <div class="d-flex justify-content-around">
          <div *ngFor="let menu of menuList" 
                class="card" 
                style="width: 22rem; height: 525px; background-image: url('assets/fond-menu2.jpg');">
            <div class="card-body text-center">
              <h3 class="card-title text-white mt-2">{{ menu.title }}</h3>
              <h4 class="card-text text-white mt-4">{{ menu.entree }}</h4>
              <p class="card-text text-white">{{ menu.description_entree }}</p>
              <h4 class="card-text text-white">{{ menu.plat }}</h4>
              <p class="card-text text-white">{{ menu.description_plat }}</p>
              <h4 class="card-text text-white">{{ menu.dessert }}</h4>
              <p class="card-text text-white">{{ menu.description_dessert }}</p>
              <h3 class="card-text text-white">{{ menu.price }}</h3>
            </div>
          </div> 
        </div>
      </div>   
</div>


  <div class="text-center bg-img mt-5"
      style="background-image: url('assets/fond10.jpg'); height: 220px; width: 100%;">
        <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.6) ;">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1 class="mb-3">Cuisine & Art</h1>
              <h4 class="mb-3">Tout simplement</h4>
            </div>
          </div>
        </div>
  </div>

  <div class="class container-xl">
    <div class="row justify-content-around">
        <div class="col-md-6">
            <app-horaire></app-horaire>
        </div>
        <div class="col-md-6" >
            <img src="assets//fond-cuisine.jpeg" alt="fond"
                class="shadow-1-strong rounded mt-5" width="600"
                alt="Yosemite National Park"
             />           
        </div>
    </div>
</div>


<app-footer></app-footer>






<!--<p *ngFor="let menu of menuList">{{ menu.name }}</p>
<a (click)="goToHome()" class="btn btn-primary">Go somewhere</a>-->