<app-header></app-header>


<main>

<div class="d-flex justify-content-center" ><h2>Le Goût qui compte!</h2></div>
<div class="text-center">C'est comme ça chez le Quai Antique.</div> 



<div class="container-xl">
    <div class="row justify-content-center">
        <div *ngFor="let platGallery of platGalleryList" class="col-lg-3 mb-4 mb-lg-0 example">
                <img class="w-100 shadow-1-strong rounded mb-4" 
                    [src] = "platGallery.picture"
                    alt="fond"
                />
            <div class="card-body">
                <a (click)="goToPlat(platGallery)"><h5 class="card-title text">{{ platGallery.name }}</h5></a>
                <div><h6 class="card-title text">{{ platGallery.category }}</h6></div>
            </div>
        </div>
    </div>    
</div>



<div class="d-flex align-items-center justify-content-center" >
    <a (click)="open(content)">
        <button type="button" class=" btn btn-lg text-white resa">Réserver !</button>
    </a>
</div>


<div class="text-center bg-img mt-5"
      style="background-image: url('assets/fond-inscription.jpg'); height: 220px; width: 100%;">
        <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.6) ;">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1 class="mb-3">Cuisine & Passion</h1>
              <h4 class="mb-3">Depuis 1987</h4>
            </div>
          </div>
        </div>
</div>

<section>
    <div class="container-xl">
        <div class="row justify-content-around">
            <div class="col-md-6" >
                <img src="assets/fond_cuisine5.jpeg" alt="fond"
                    class="shadow-1-strong rounded" width="600"
                    alt="Yosemite National Park"
                 />           
            </div>
                <div *ngFor="let horaire of horaires" class="col-md-6" style="padding: 0%;">
                    <div class="card" style="width: 35rem;">
                        <div class="card-body">
                                <h4 class="card-title"> {{ horaire.title}} </h4>
                                <h5 class="card-subtitle mb-2 text-muted">{{ horaire.subtitle}}</h5>
                                <h6 class="card-titile">{{ horaire.day }}</h6>
                                <p class="card-text">{{ horaire.hours_day }}</p>
                                <h6 class="card-titile">{{ horaire.night }}</h6>
                                <p class="card-text">{{ horaire.hours_night}}</p>
                                <h6 class="card-titile">{{ horaire.weekend }}</h6>
                                <p class="card-text">{{ horaire.hours_week }}</p>
                                <p class="card-text"></p>
                                <h4 class="card-title">{{ horaire.infos}}</h4>
                                <h6 class="card-title">{{ horaire.telephone}}</h6>  
                        </div>

                            <div class="container mb-4" >
                                <a *ngIf="this.auth.isLoggedIn.role === 'admin'" routerLink="/horaire/edit">
                                        <button type="button" class=" btn text-white modif">Modifier</button>
                                </a>
                            </div>
                        <div> 
                    </div>
                </div>
            </div>               
        </div>
     </div>  
</section>
   
    


<a *ngIf="this.auth.isLoggedIn.role === 'admin'" routerLink="/platgallery/add">
    <button type="button" class="btn btn-danger addbutton">+</button>
</a>


<ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title " id="modal-basic-title">Réservation</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
    <div class="modal-body">
        <form>
            <div class="container">
                <div class="form-row">
                    <div class="form-group col-md-6">
                            <label for="inputname">Nom</label>
                            <input type="name" class="form-control" id="inputName" placeholder="Votre nom">
                    </div>
                    <div class="form-group col-md-6">
                            <label for="inputname">Prénom</label>
                            <input type="surname" class="form-control" id="inputSurname" placeholder="Votre prénom">
                    </div>
                    <div class="form-group col-md-6">
                            <label for="inputname">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Adresse Email">
                    </div>
                    <div class="form-group col-md-6">
                            <label for="inputnumber">Nombre de couverts</label>
                            <input type="number" class="form-control" id="inputNumber" placeholder="Ex : 2 couverts...">
                    </div>
                </div>
                    <div class="form-group">
                        <label for="inputAddress">Addresse</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Mon adresse">
                    </div>
                    <div class="form-group">
                            <label for="inputAddress">Date</label>
                            <input type="date" class="form-control" id="inputTime" placeholder="...">
                    </div>
                    <div class="form-group col-md-6">
                            <label for="input-text">Infos notables...</label>
                            <input type="text" class="form-control" id="inputText" placeholder="Ex : Allergies, régimes...">
                    </div>
            </div>  
        </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Réserver</button>
            </div>
    </div>
</ng-template>
      
</main>


<app-footer><app-footer>

    <!--*ngIf="this.currentUser.role === 'admin'" 
    *ngIf="this.auth.isLoggedIn.role === 'admin'" -->