
.row  {
  margin-top: 10px;
}


.d-flex {
    margin-top: 35px;
}

.addbutton {

  border-radius: 100%;
  position: fixed;
  bottom: 100px;
  right: 40px;
  height: 70px;
  width: 70px;

}

.a {
  color: #fff;
  outline: none;
  font-size: 30px;
  text-decoration: none;
}


.addbutton:hover {
  background-color: rgb(26, 185, 26);
  border-color:rgb(26, 185, 26) ;
}



.example {
    cursor: pointer;
    width: 400px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
  }
  .example .card-body {
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 360px;
    height: 100px;
    padding: 130px 20px;
    border-radius: 2%;
  }
  .example:hover .card-body {
    opacity: 0.8;
  }
  .example .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
  }
  .example .card-title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
  }
  .example:hover .card-title,
  .example:focus .card-title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }